nameOverride: ""
fullnameOverride: ""

namespaceOverride: "foodie-app"

imagePullSecrets:
  - name: dockerhub-secret

dockerhubSecret:
  create: true
  name: dockerhub-secret
  dockerconfigjson: "eyJhdXRocyI6eyJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOnsidXNlcm5hbWUiOiJhcnVuYmFsYWppMTAzIiwicGFzc3dvcmQiOiJkY2tyX3BhdF9CbERhVzZhWEFhVjc4dUlfUFZ1ZnZ3UVYzNEUiLCJhdXRoIjoiWVhKMWJtSmhiR0ZxYVRFd016cGtZMnR5WDNCaGRGOUNiRVJoVnpaaFdFRmhWamM0ZFVsZlVGWjFablozVVZZek5FVT0ifX19"

frontend:
  replicaCount: 2
  image:
    repository: arunbalaji103/foodie-frontend
    tag: latest
    pullPolicy: IfNotPresent
  containerPort: 3000
  service:
    type: ClusterIP
    port: 80
    targetPort: 3000
  env:
    API_BASE_URL: /api
    REACT_APP_API_URL: /api
    NEXT_PUBLIC_API_URL: /api
    VITE_API_URL: /api
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi
  livenessProbe:
    path: /
    initialDelaySeconds: 20
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readinessProbe:
    path: /
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

backend:
  replicaCount: 2
  image:
    repository: arunbalaji103/foodie-backend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5000
    targetPort: 5000
  env:
    NODE_ENV: production
    PORT: "5000"
    JWT_SECRET: change-me-in-production
    ADMIN_EMAIL: admin@foodie.com
    ADMIN_PASSWORD: "Areti123$"
    CORS_ORIGIN: https://foodie.kitchen
  resources:
    requests:
      cpu: 150m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  livenessProbe:
    path: /health
    initialDelaySeconds: 20
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readinessProbe:
    path: /health
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

database:
  image:
    repository: arunbalaji103/foodie-database
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 5432
    targetPort: 5432
  env:
    POSTGRES_DB: foodie
    POSTGRES_USER: foodie
    POSTGRES_PASSWORD: foodiepassword
  persistence:
    enabled: false
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClassName: ""
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi

ingress:
  enabled: true
  className: nginx
  host: foodie.kitchen
  tls:
    enabled: false
    secretName: foodie-tls
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "10m"
  frontendPath: /
  backendPath: /api
  backend:
    stripPrefix: true
    regexPath: /api(/|$)(.*)

hpa:
  enabled: true
  apiVersion: autoscaling/v1
  frontend:
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70
  backend:
    minReplicas: 2
    maxReplicas: 6
    targetCPUUtilizationPercentage: 75
